<!doctype html>
<html>
   <head>
   </head>
   <body>
      <img src="https://i.imgur.com/WEj49fZ.png"height="100%" width="100%"> 
      <div style="
         width: 300px;
         height: 300px;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);"/>
		<form method= "POST" action= "/postreview"><br>
			<input type="text" id="title" name="title"><br>
			<input type="number" id="rating" name="rating"><br>
			<textarea id="review" name="review"></textarea><br>
			<input type="submit" value="Submit Review" name="submit_button"/><br>
		</form>
		
		<form method= "POST" action= "/signout">
			<input type="submit" value="Sign Out" name="submit_button"/><br>
		</form>
    </body>
</html> 