<!doctype html>
<html>
   <head>
   </head>
   <body>
      <img src="https://i.imgur.com/WEj49fZ.png"height="100%" width="100%"> 
      <div style="
         width: 300px;
         height: 300px;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);"/>
		<form method= "POST" action= "/signup"><br>
		<input type="password" id="signup" name="password"><br>
		<input type="text" id="username" name="username"><br>
		<input type="submit" value="Signup" name="submit_button"/><br>
		</form>
	</div>
    </body>
</html> 