<!doctype html>
<html>
   <head>
   </head>
   <body>
      <img src="https://i.imgur.com/WEj49fZ.png"height="100%" width="100%"> 
      <div style="
         width: 300px;
         height: 300px;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);"/>
		  <form method= "POST" action= "/login"><br>
			 <input type="text" id="username" name="username"><br>
			 <input type="password" id="user_pass" name="user_pass"><br>
			 <input type="submit" value="Login" name="submit_button"/><br>
		  </form>
		  <form method= "POST" action= "/signout">
			 <input type="submit" value="Sign Out" name="submit_button"/><br>
		  </form>
	   </div>
   </body>
</html>